:root {
    --blue: #006bd6;
    --green: #1a6a17;
    --kamon: #d6b400;

    --whiteGreen: #F5FFF5;
    --whiteGreen1: #BED1BE;
    --whiteBlue: #147FEA;
    --whiteBlue1: #CEE6FF;
    --whiteKamon: #FFF4BB;
    
    --red: #E85050;
    --gray: #B5B5B5;
    --black: #3D3C3C;
}
